<html>
    <head><Title>Marks Form</Title></head>
    <body>
        <form action = "/submit_marks" method="post">
            Enter marks for following: 
            <br>
            <label>Science: </label>
            <input type="text" id="sci" name="sci">
            <label>Math: </label>
            <input type="text" id="math" name="math">
            <label>English: </label>
            <input type="text" id="eng" name="eng">

            <button type="submit" value="submit">Submit</button>
        </form>
    </body>
</html>